<html>  
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
  <link rel="icon" type="image/png" href="/iui/iui-favicon.png">
  <link rel="apple-touch-icon" href="/iui/iui-logo-touch-icon.png" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <link rel="stylesheet" href="/iui/iui.css" type="text/css" />

  <link rel="stylesheet" title="Default" href="/iui/t/default/default-theme.css"  type="text/css"/>
  <link rel="stylesheet" href="/iui-panel-list.css" type="text/css" />
  <script type="application/x-javascript" src="/iui/iui.js"></script>
  
  <title> $blog.key </title>
</head>

      #if ($searchTag)
        #set ( $searchLink = "&searchTag=$searchTag" )  
      #else
        #set ( $searchLink = "")
      #end


<body>

<div class="toolbar"> 
    <h1 id="pageTitle"></h1>
    <a id="backButton" class="button" href="#"></a>
    #if ($user)
      <a class="button" href="$signOutUrl" target="_self">Logout</a>    
    #else
      <a class="button" href="$signInUrl" target="_self">Login</a>
    #end
</div>

<div id="root" class="panel" title="$blog.key" selected="true">
    #if ($searchTag) 
      $_htmlEscape.escape($searchTag) でフィルタリングしています．<a href="/blogs/$blog.key" target="_self">解除</a>
    #end
    <ul>
      #foreach ($entry in $entries)
        <li>
          <a href="#$velocityCount">$_htmlEscape.escape($entry.title) </a> 
        </li>
      #end
      #if ($next)
        <li><a href="/blogs/$blog.key?before=$next.date.time$searchLink" target="_self">＞＞</a></li>
      #end
    </ul>
    <ul>
    #if ($isOwner)
      <li ><a href="/createBlogEntry?blogName=$blog.key">投稿</a> </li>
    #end
      <li ><a href="/home" target="_self">ホーム</a> </li>
      <li ><a href="#tagSearch" >タグサーチ</a> </li>
   </ul>
</div>

<div id="tagSearch" title="タグサーチ" class="panel">
   <ul>
   #foreach ($tag in $blog.tagCount.keySet())
      #if ($blog.tagCount.get($tag) != 0) 
       <li> <a target="_self" href="/blogs/$blog.key?searchTag=$tag"> 
           $_htmlEscape.escape($tag) ($blog.tagCount.get($tag))
       </a></li>  
       #end
   #end
   </ul>
</div>

 #foreach ($entry in $entries)
  <div id="$velocityCount" class="panel" title="$_htmlEscape.escape($entry.title)">
       #foreach ($tag in $entry.tags) 
           <span class="tag" style="font-size: 60%;">
             <a href="/blogs/$blog.key?searchTag=$tag" target="_self">
               $_htmlEscape.escape($tag)
             </a>
           </span>
         #end
      <div style="margin: 20 10 20 10; background: white">$_htmlEscape.escapeAndTag($entry.text.value)</div>
      #foreach ($image in $entry.images)  
        <div class="picture"> <img src="/image/$image.getKeyAsString()"/> </div>
      #end
      <form action="/createBlogEntry?entryId=$entry.getKeyInString()">
        <a class="whiteButton" type="submit"> <span style="font-size: 70%">編集</span></a>
      </form>
   <a target="_self" href="/confirmationDialog?accept=/deleteBlogEntryHandler&cancel=/blogs&message=エントリを削除します．よろしいですか？&blogName=$blog.key&entryId=$entry.getKeyInString()">
               <span class="tag" style="font-size: 60%;"> 削除 </span>
   </a>
  </div>
 #end
</body>
</html>

