<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="/blog.css" media="all" type="text/css">
<title>Create Entry</title>
</head>
<body>
<h1> $blogName </h1>
<form action="/createBlogEntryHandler" method="post" 
      enctype="multipart/form-data" >
  <div>
    タイトル: <input type="text" name="title"/ value="$title"><br/>
    <textarea name="content" rows="5" cols="60" >$text</textarea> <br/>
    タグ：<input type="text" name="tags" value="$tags"/><br/>
    #if ($images)
      #foreach ($image in $images) 
        <div>
          <input type="checkbox" name="preservePic$velocityCount" 
                 value="$image.getKeyAsString()" checked="true"/> 
          $image.getName(); 
        </div>
      #end
    #end  
    <input type="file" name="upfile0"><br/>      
    <input type="file" name="upfile1"><br/>  
   </div>
  <input type="submit" value="Submit" />
</form>
    
</body>
</html>