	<html>
	    <head>
	    <title>利用者登録</title>
	    </head>
	    <body>

	    <h1>利用者登録画面</h1>


	    <form method="POST" action="/CreateUserInfoHandler" >
	    <table>
	    <tr>
	    <td>ユーザーID</td>
	    <td><input type="text" name="user" size="32"></td>
	    </tr>
	    <tr>
	    <td>パスワード</td>
	    <td><input type="password" name="pass" size="32"></td>
	    </tr>
	    <tr>
	    <td>氏名</td>
	    <td><input type="text" name="name" size="32"></td>
	    </tr>
	    <tr>
	    <td>メールアドレス</td>
	    <td><input type="text" name="email" size="32"></td>
	    </tr>
	    <tr>
	    <td>連絡先</td>
	    <td><input type="text" name="num" size="32"></td>
	    </tr>
	    <tr>
	    <td><input type="submit" value="登録"></td>
	    </tr>
	    </table>
	    </form>

	    </body>
	    </html>