<?xml version="1.0" encoding="utf-8"?>
<web-app>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>gaebook.blog.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>blogs</servlet-name>
    <servlet-class>gaebook.blog.Blogs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogs</servlet-name>
    <url-pattern>/blogs/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>imageDisplay</servlet-name>
    <servlet-class>gaebook.util.ImageDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>imageDisplay</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>createBlogEntryHandler</servlet-name>
    <servlet-class>gaebook.blog.CreateBlogEntryHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createBlogEntryHandler</servlet-name>
    <url-pattern>/createBlogEntryHandler</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>deleteBlogEntryHandler</servlet-name>
    <servlet-class>gaebook.blog.DeleteBlogEntryHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBlogEntryHandler</servlet-name>
    <url-pattern>/deleteBlogEntryHandler</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>deleteBlogHandler</servlet-name>
    <servlet-class>gaebook.blog.DeleteBlogHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBlogHandler</servlet-name>
    <url-pattern>/deleteBlogHandler</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>createBlogEntry</servlet-name>
    <servlet-class>gaebook.blog.CreateBlogEntry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createBlogEntry</servlet-name>
    <url-pattern>/createBlogEntry</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>createBlogHandler</servlet-name>
    <servlet-class>gaebook.blog.CreateBlogHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createBlogHandler</servlet-name>
    <url-pattern>/createBlogHandler</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>configBlogHandler</servlet-name>
    <servlet-class>gaebook.blog.ConfigBlogHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>configBlogHandler</servlet-name>
    <url-pattern>/configBlogHandler</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>confirmationDialog</servlet-name>
    <servlet-class>gaebook.util.ConfirmationDialog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmationDialog</servlet-name>
    <url-pattern>/confirmationDialog</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>mailhandler</servlet-name>
    <servlet-class>gaebook.blog.MailHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mailhandler</servlet-name>
    <url-pattern>/_ah/mail/*</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
<!-- 
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/createBlog</url-pattern>
      <url-pattern>/createEntry</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
-->
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/_ah/mail/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
